@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<style>
    body {
           background-color: lightgreen
         }

    h1 {
         font: bold 15pxl arial;
         color: blue;
       }

    p {
        color: green;
      }
</style>
<h1>
    <em>CIMS</em> is the full solution to manage the entire Institution or Educational Organizations for easy access and detailed storage of institutional records.</h1>
