@model CMISProject.Models.UserResource

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserResource</h4>
	<hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserResourceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
